/* All */

.website-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #8c959d;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}